# KGSM .gitignore

# User defined config.ini
config.ini

# User defined blueprints
blueprints/*.bp

# Don't ignore default blueprints
!blueprints/default/*.bp

# Instance config files
instances/*.ini
instances/**/*.ini

# KGSM Log files
logs/*

# KGSM version file
.kgsm.version

# The test logs
tests/logs/*

tests/test-results.txt

# Dot folders
\.*/*
