# Configuration file for KGSM (Krystal Game Server Manager)
#
# This file is used whenever interacting with kgsm.sh.
# All values from this file can also be set as environment variables,
# but the variables in this file will take priority if they are found.

# ========================
# REQUIRED CONFIGURATIONS
# ========================

# SteamCMD login username
# Description: This username is used to log into SteamCMD for downloading game servers
# that require an account and/or ownership of the game.
# Security Note: It is HIGHLY RECOMMENDED to set this as an environment variable instead
# for better security.
# If set as an environment variable, remove it from this file.
STEAM_USERNAME=

# SteamCMD login password
# Description: This password is used to log into SteamCMD for downloading game servers
# that require an account and/or ownership of the game.
# Security Note: It is HIGHLY RECOMMENDED to set this as an environment variable instead
# for better security.
# If set as an environment variable, remove it from this file.
STEAM_PASSWORD=

# ==========================
# OPTIONAL CONFIGURATIONS
# ==========================

# KGSM root directory
# Description: The directory where kgsm.sh is located. This is only necessary if you
# want to run the individual modules standalone. It is not needed otherwise.
# KGSM_ROOT=

# Default installation directory for blueprints
# Description: When running the install process of a blueprint, this directory will be
# used as the default installation directory. If not specified, an install directory
# must be provided for each installation. A subdirectory will be created with the same
# name as the blueprint.
# KGSM_DEFAULT_INSTALL_DIRECTORY=
