[Unit]
Description=7 Days To Die Dedicated Server
StartLimitIntervalSec=10
After=network.target

[Service]
User=cristian
WorkingDirectory=/home/cristian/servers/7dtd
ExecStart=/home/cristian/servers/7dtd/start.sh

Restart=on-failure
RestartSec=5
StartLimitBurst=1

[Install]
WantedBy=multi-user.target
