[Unit]
Description=CoreKeeper Dedicated Server
StartLimitIntervalSec=10
After=network.target

[Service]
User=cristian
WorkingDirectory=/home/cristian/servers/corekeeper
ExecStart=/home/cristian/servers/corekeeper/start.sh

Restart=on-failure
RestartSec=5
StartLimitBurst=1

[Install]
WantedBy=multi-user.target
