[Unit]
Description=Project Zomboid Dedicated Server
StartLimitIntervalSec=10
After=network.target

# Socket required for STDIN commands
Requires=projectzomboid.socket

[Service]
User=cristian
WorkingDirectory=/home/cristian/servers/projectzomboid
ExecStart=/home/cristian/servers/projectzomboid/start.sh
ExecStop=/home/cristian/servers/projectzomboid/stop.sh

Restart=on-failure
RestartSec=5
StartLimitBurst=1

Sockets=projectzomboid.socket
StandardInput=socket

[Install]
WantedBy=multi-user.target
