[Unit]
Description=Status Watchdog
StartLimitIntervalSec=10
After=network.target

[Service]
User=cristian
WorkingDirectory=/home/cristian/servers/scripts
ExecStart=exec /home/cristian/servers/scripts/status-watchdog.sh

Restart=on-failure
RestartSec=5
StartLimitBurst=1

[Install]
WantedBy=multi-user.target
