[Unit]
Description=Valheim Dedicated Server
StartLimitIntervalSec=10
After=network.target

[Service]
User=cristian
WorkingDirectory=/home/cristian/servers/valheim/install
ExecStart=/home/cristian/servers/valheim/start.sh

Restart=on-failure
RestartSec=5
StartLimitBurst=1

[Install]
WantedBy=multi-user.target
