[Unit]
Description=Discord Admiral Bot Service
StartLimitIntervalSec=10

[Service]
User=cristian
WorkingDirectory=/opt/discord/admiral
ExecStart=/opt/discord/admiral/manage.sh --start

Restart=on-failure
RestartSec=5
StartLimitBurst=1

[Install]
WantedBy=multi-user.target
