[Unit]
Description=Minecraft Dedicated Server
StartLimitIntervalSec=10
After=network.target

Requires=minecraft.socket

[Service]
User=cristian
WorkingDirectory=/opt/minecraft/install
ExecStart=/opt/minecraft/manage.sh --start
ExecStop=/opt/minecraft/manage-sh --stop

Restart=on-failure
RestartSec=5
StartLimitBurst=1

Sockets=minecraft.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
