#!/bin/bash

if [ $# -eq 0 ]; then
  echo "Launch script with: --start | --stop | --save"
  exit 1
fi

# shellcheck disable=SC1091
source /etc/environment

function start() {
  echo "start"
}

function stop() {
  echo "stop"
}

function save() {
  echo "save"
}

#Read the argument values
while [ $# -gt 0 ]; do
  case "$1" in
  --start)
    start
    shift
    ;;
  --stop)
    stop
    shift
    ;;
  --save)
    save
    shift
    ;;
  *)
    shift
    ;;
  esac
  shift
done
