[Unit]
Description=Starbound Dedicated Server
StartLimitIntervalSec=10
After=network.target

[Service]
User=cristian
WorkingDirectory=/opt/starbound
ExecStart=/opt/starbound/manage.sh --start
ExecStop=/opt/starbound/manage.sh --stop

Restart=on-failure
RestartSec=5
StartLimitBurst=1

[Install]
WantedBy=multi-user.target
