[Unit]
Description=Factorio Dedicated Server
Requires=factorio.socket

[Service]
User=cristian
WorkingDirectory=/home/cristian/servers/factorio
ExecStart=/home/cristian/servers/factorio/manage.sh --start
ExecStop=/home/cristian/servers/factorio/manage.sh --stop
NonBlocking=true

Restart=on-failure
RestartSec=5
StartLimitBurst=1

Sockets=factorio.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
